:root {
    --accent: #0ea5e9;
    --accent-hover: #0284c7;
    --background: #f7fafc;
    --card: #ffffff;
    --muted: #6b7280;
    --border-color: #cdb5e1;
    --radius: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
}

nav {
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    gap: 10px;
    & a {
        background-color: #f1f1f1;
        color: var(--muted);
        text-decoration: none;
        margin: 5px;
        padding: 10px;
        border-radius: var(--radius);
        align-items: center;
    }
    & a:first-of-type {
        margin-right: auto;
        &::before {
            display: inline-block;
            position: relative;
            content: "";
            padding: 0px;
            background: url();
        }
    }
    & a:hover,a:active {
        background-color: #bbbbbb;
        color: #111111;
    }
}